.login-form {
    max-width: 400px;
    margin: 0 auto 0;
    font-size: 16px;
    .form-control {
        height: 45px;
    }
    .btn {
        height: 46px;
            padding: 5px 30px;
            background-color: #222;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            border: none;
            transition: all 0.25s ease-in-out;
            align-items: center;
            &:hover {
                background-color: $main-color;
            }
    }
}