.product__card {
    border-color: #e4e4e4;
    margin-bottom: 21px;
    .card-header {
        padding: 15px;
        background-color: #fff;
        border: none;
        position: relative;
    }
    .card-body {
        position: relative;
        padding: 0 15px 15px;
    }

    .product__images {
        position: relative;
        .product__images__active {
            transition: 0.4s all ease-in-out;
        }
        .product__images__hover {
            transition: 0.4s all ease-in-out;
            position: absolute;
            inset: 0;
            transform: scale(0.5);
            opacity: 0;
            visibility: hidden;
        }
    }

    .product__category {
        margin-bottom: 8px;
        font-size: 16px;
        text-transform: capitalize;
        color: $txt-main-color;
        &:hover {
            color: $main-color;
        }
    }
    .product__name {
        font-size: 20px;
        color: $txt-main-color;
        &:hover {
            color: $main-color;
        }
    }
    .product__wishlist {
        position: absolute;
        top: 0;
        right: 15px;
        i {
            font-size: 20px;
            color: #222;
        }
    }
    
    .product__flags {
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        gap: 0 6px;
        .product__flag {
            display: inline-block;
            padding: 3px 8px;
            background-color: $main-color;
            color: #fff;
            font-weight: 500;
            font-size: 12px;
            border-radius: 2px;
            &.new {
                background-color: #222;
            }
        }
    }

    .product__addCart {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;   
        transition: 0.25s all ease-in-out;
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
        button {
            outline: none;
            background-color: #fff;
            width: 100%;
            border: none;
            text-transform: uppercase;
            font-weight: 500;
            padding: 8px 20px;
            transition: 0.25s all ease-in-out;
            &:hover {
                background-color: $main-color;
                color: #fff;
            }
        }    
    }
    &:hover {
        .product__addCart {
            opacity: 1;
            visibility: visible;
            transform: none;
        }
        .product__images {
            .product__images__active {
                opacity: 0;
                visibility: hidden;
                transform: scale(0.5);
            }
            .product__images__hover {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }
    }
}

.product__description {
    font-size: 16px;
    line-height: 24px;
    color: #222;
}

.product__price {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    &-default {
        color: #999;
        text-decoration: line-through;
    }
    &-sale {
        color: $main-color;
    }
}

.product__detail__addcart {
    height: 60px;
    max-width: 275px;
    width: 100%;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
    border: none;
    outline: none;
    border-radius: 0;
    &:hover {
        background-color: $main-color;
        border: none;
        outline: none;
        border-radius: 0;
    }
}

.boxNew {
    margin-top: 80px; 
}

.product__detail {
    &__image {
        img {
            width: 100%;
        }
        .slick-list {
            margin-right: 0;
            margin-left: 0;
        }
        .slick-thumb.slick-dots {
            position: initial;
            margin-top: 10px;
            text-align: left;
            li {
                width: 80px;
                height: auto;
                margin: 0 15px 0 0;
            }
            img {
                max-width: 80px;    
            }
        }
    }
    &__content {
        padding-left: 60px; 
    }
    .add-to-cart {
        display: flex;
        .add-cart-quantity {
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 15px;
        }
        .addCart__quantity__input {
            height: 60px;
            min-width: 150px;
            border: 2px solid #999;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: #222;
        }
        .addCart__quantity__btn {
            position: absolute;
            font-size: 18px;
            font-weight: 600;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
            &.plus {
                right: 10px;
            }
            &.minus {
                left: 10px;
            }
        }
    }
    .product__variants {
        margin-top: 30px;
    }
    .product__variants__item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .control__label {
            font-size: 16px;
            font-weight: 500;
            width: 100px;
        }
        ul {
            margin-bottom: 0;
            display: flex;
            gap: 0 15px;
            li {
                font-size: 16px;
                padding: 4px 10px;
                line-height: 1;
                border: 1px solid #eee;
                cursor: pointer;
                &.active {
                    border-color: $main-color;
                }
            }
        }
    }
}

.product__detail__label {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #222;
}
.product__detail__text {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #666;
}
